<p id="notice"><%= notice %></p>

<h1>Listing User Flights</h1>

<table>
  <thead>
    <tr>
      <th>Flight</th>
      <th>Preference</th>
      <th>Seat</th>
      <th>User</th>
      <th>Booking number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_flights.each do |user_flight| %>
      <tr>
        <td><%= user_flight.flight_id %></td>
        <td><%= user_flight.preference_id %></td>
        <td><%= user_flight.seat_id %></td>
        <td><%= user_flight.user_id %></td>
        <td><%= user_flight.booking_number %></td>
        <td><%= link_to 'Show', user_flight %></td>
        <td><%= link_to 'Edit', edit_user_flight_path(user_flight) %></td>
        <td><%= link_to 'Destroy', user_flight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User flight', new_user_flight_path %>
